<?xml version='1.0' encoding='utf-8'?>
<widget id="cn.edu.tsinghua.zmy.datavis" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DataVis</name>
    <description>
        A sample Apache Cordova application that shows data charts.
    </description>
    <author email="mengyu.chou@gmail.com" href="http://github.com/zmy">
        Mengyu Zhou
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
